@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Melissa Kuchinski is learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP in IT4753.NET Core</a>.</p>
</div>
